In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
      .appName("Basics")  \
      .getOrCreate()

spark.version

'4.0.1'

First Dataframe

In [3]:
data = [
    {"name": "Arjun", "age":21},
    {"name": "Sara", "age":19},
    {"name":"Dinesh", "age":25}
]

df=spark.createDataFrame(data)
df.show()

+---+------+
|age|  name|
+---+------+
| 21| Arjun|
| 19|  Sara|
| 25|Dinesh|
+---+------+

In [4]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [5]:
df.select("name").show()
df.select("name","age").show()

+------+
|  name|
+------+
| Arjun|
|  Sara|
|Dinesh|
+------+

+------+---+
|  name|age|
+------+---+
| Arjun| 21|
|  Sara| 19|
|Dinesh| 25|
+------+---+

In [6]:
df.filter(df.age>20).show()
df.filter(df.name=="Sara").show()

+---+------+
|age|  name|
+---+------+
| 21| Arjun|
| 25|Dinesh|
+---+------+

+---+----+
|age|name|
+---+----+
| 19|Sara|
+---+----+

In [7]:
from pyspark.sql.functions import col

df2=df.withColumn("age_plus_5",col("age")+5)
df2.show()

+---+------+----------+
|age|  name|age_plus_5|
+---+------+----------+
| 21| Arjun|        26|
| 19|  Sara|        24|
| 25|Dinesh|        30|
+---+------+----------+

In [8]:
from pyspark.sql.functions import lower

df3 = df.withColumn("name_lower", lower(col("name")))
df3.show()

+---+------+----------+
|age|  name|name_lower|
+---+------+----------+
| 21| Arjun|     arjun|
| 19|  Sara|      sara|
| 25|Dinesh|    dinesh|
+---+------+----------+

In [9]:
df.drop("age").show()

+------+
|  name|
+------+
| Arjun|
|  Sara|
|Dinesh|
+------+