In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
      .appName("File_format_exercises") \
      .getOrCreate()


data = """
order_id,customer_name,city,restaurant,cuisine,order_amount,delivery_time_minutes,payment_mode,order_status
O001,Amit,Hyderabad,Spice Hub,Indian,450,35,UPI,Delivered
O002,Neha,Bangalore,Pizza Town,Italian,650,40,Card,Delivered
O003,Rahul,Delhi,Burger Zone,American,520,30,Cash,Delivered
O004,Pooja,Mumbai,Sushi Bar,Japanese,1200,55,UPI,Cancelled
O005,Arjun,Chennai,Curry Leaf,Indian,380,28,UPI,Delivered
O006,Sneha,Hyderabad,Pasta Street,Italian,700,45,Card,Delivered
O007,Karan,Delhi,Taco Bell,Mexican,540,33,UPI,Delivered
O008,Riya,Bangalore,Dragon Bowl,Chinese,600,38,Wallet,Delivered
O009,Vikas,Mumbai,BBQ Nation,Indian,1500,60,Card,Delivered
O010,Anjali,Chennai,Burger Zone,American,480,32,Cash,Delivered
O011,Farhan,Delhi,Biryani House,Indian,520,36,UPI,Delivered
O012,Megha,Hyderabad,Sushi Bar,Japanese,1100,58,Card,Cancelled
O013,Suresh,Bangalore,Curry Leaf,Indian,420,29,UPI,Delivered
O014,Divya,Mumbai,Pizza Town,Italian,780,42,Wallet,Delivered
O015,Nikhil,Delhi,Pasta Street,Italian,690,47,UPI,Delivered
O016,Kavya,Chennai,Dragon Bowl,Chinese,560,34,UPI,Delivered
O017,Rohit,Hyderabad,BBQ Nation,Indian,1400,62,Card,Delivered
O018,Simran,Bangalore,Burger Zone,American,510,31,Cash,Delivered
O019,Ayesha,Mumbai,Taco Bell,Mexican,570,35,UPI,Delivered
O020,Manish,Delhi,Curry Leaf,Indian,390,27,Wallet,Delivered
O021,Priya,Hyderabad,Pizza Town,Italian,720,41,Card,Delivered
O022,Yash,Chennai,Sushi Bar,Japanese,1150,57,UPI,Delivered
O023,Naina,Bangalore,Pasta Street,Italian,680,44,UPI,Delivered
O024,Sameer,Mumbai,Dragon Bowl,Chinese,610,39,Wallet,Delivered
O025,Ritika,Delhi,Burger Zone,American,500,30,Cash,Delivered
O026,Gopal,Hyderabad,Curry Leaf,Indian,410,28,UPI,Delivered
O027,Tina,Bangalore,Pizza Town,Italian,760,43,Card,Delivered
O028,Irfan,Mumbai,BBQ Nation,Indian,1550,65,Card,Delivered
O029,Sahil,Chennai,Taco Bell,Mexican,590,37,UPI,Delivered
O030,Lavanya,Delhi,Dragon Bowl,Chinese,630,40,Wallet,Delivered
O031,Deepak,Hyderabad,Burger Zone,American,520,33,Cash,Delivered
O032,Shweta,Bangalore,Curry Leaf,Indian,450,31,UPI,Delivered
O033,Aman,Mumbai,Pizza Town,Italian,810,46,Card,Delivered
O034,Rekha,Chennai,Pasta Street,Italian,700,45,UPI,Delivered
O035,Zubin,Delhi,BBQ Nation,Indian,1480,63,Card,Delivered
O036,Pallavi,Hyderabad,Dragon Bowl,Chinese,580,36,Wallet,Delivered
O037,Naveen,Bangalore,Taco Bell,Mexican,560,34,UPI,Delivered
O038,Sonia,Mumbai,Sushi Bar,Japanese,1180,59,Card,Delivered
O039,Harish,Chennai,Burger Zone,American,490,29,Cash,Delivered
O040,Kriti,Delhi,Curry Leaf,Indian,420,26,UPI,Delivered
"""

1. Write the full dataset to CSV with header enabled.

In [ ]:
with open("orders.csv", "w") as f:
    f.write(data)

2. Read the CSV back and filter: order_amount > 700

In [ ]:
df=spark.read \
   .option("header",True) \
   .option("interSchema",True) \
   .csv('orders.csv')

df.filter(df.order_amount>700).show()

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O021|        Priya|Hyderabad|Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O027|         Tina|Bangalore|Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

root
 |-- order_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- restaurant: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- order_amount: string (nullable = true)
 |-- delivery_time_minutes: string (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- order_status: string (nullable = true)

3. From CSV, show only:
order_id
city
cuisine
order_amount

In [ ]:
df=spark.read \
   .option("header",True) \
   .option("interSchema",True) \
   .csv('orders.csv')

df.select("order_id","city","cuisine", "order_amount").show()

+--------+---------+--------+------------+
|order_id|     city| cuisine|order_amount|
+--------+---------+--------+------------+
|    O001|Hyderabad|  Indian|         450|
|    O002|Bangalore| Italian|         650|
|    O003|    Delhi|American|         520|
|    O004|   Mumbai|Japanese|        1200|
|    O005|  Chennai|  Indian|         380|
|    O006|Hyderabad| Italian|         700|
|    O007|    Delhi| Mexican|         540|
|    O008|Bangalore| Chinese|         600|
|    O009|   Mumbai|  Indian|        1500|
|    O010|  Chennai|American|         480|
|    O011|    Delhi|  Indian|         520|
|    O012|Hyderabad|Japanese|        1100|
|    O013|Bangalore|  Indian|         420|
|    O014|   Mumbai| Italian|         780|
|    O015|    Delhi| Italian|         690|
|    O016|  Chennai| Chinese|         560|
|    O017|Hyderabad|  Indian|        1400|
|    O018|Bangalore|American|         510|
|    O019|   Mumbai| Mexican|         570|
|    O020|    Delhi|  Indian|         390|
+--------+---------+--------+------------+
only showing top 20 rows

4. Sort orders by delivery_time_minutes descending and write result to CSV

In [ ]:
from pyspark.sql.functions import col
sorted_df = df.orderBy(col("delivery_time_minutes").desc())
sorted_df.show()

+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|  restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|    O028|        Irfan|   Mumbai|  BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O035|        Zubin|    Delhi|  BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O017|        Rohit|Hyderabad|  BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O009|        Vikas|   Mumbai|  BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O038|        Sonia|   Mumbai|   Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O012|        Megha|Hyderabad|   Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O022|         Yash|  Chennai|   Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O004|        Pooja|   Mumbai|   Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O015|       Nikhil|    Delhi|Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O033|         Aman|   Mumbai|  Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O006|        Sneha|Hyderabad|Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O034|        Rekha|  Chennai|Pasta Street| Italian|         700|                   45|         UPI|   Delivered|
|    O023|        Naina|Bangalore|Pasta Street| Italian|         680|                   44|         UPI|   Delivered|
|    O027|         Tina|Bangalore|  Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O014|        Divya|   Mumbai|  Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O021|        Priya|Hyderabad|  Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O002|         Neha|Bangalore|  Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O030|      Lavanya|    Delhi| Dragon Bowl| Chinese|         630|                   40|      Wallet|   Delivered|
|    O024|       Sameer|   Mumbai| Dragon Bowl| Chinese|         610|                   39|      Wallet|   Delivered|
|    O008|         Riya|Bangalore| Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

JSON



---



5. Write only “Delivered” orders to JSON.

In [ ]:
df.filter(col("order_status")=="Delivered").write.mode("overwrite").json("delivered_orders_json")

6. Read JSON and filter:
city = "Mumbai"
payment_mode = "Card"

In [ ]:
df = spark.read.json("delivered_orders_json")
df.filter((df.city=="Mumbai") & (df.payment_mode=="Card")).show()

+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|  city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|restaurant|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|Mumbai|  Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|BBQ Nation|
|Mumbai|  Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|BBQ Nation|
|Mumbai| Italian|         Aman|                   46|         810|    O033|   Delivered|        Card|Pizza Town|
|Mumbai|Japanese|        Sonia|                   59|        1180|    O038|   Delivered|        Card| Sushi Bar|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+

7. Add a column:
delivery_category
Logic:
delivery_time_minutes > 45 → "Late"
else → "OnTime"
Write output to JSON.

In [ ]:
from pyspark.sql.functions import when
new_df=df.withColumn("delivery_category", when (col("delivery_time_minutes") >45,"Late").otherwise ("OnTime" ))
new_df.show()

+---------+--------+-------------+---------------------+------------+--------+------------+------------+-------------+-----------------+
|     city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|   restaurant|delivery_category|
+---------+--------+-------------+---------------------+------------+--------+------------+------------+-------------+-----------------+
|Hyderabad|  Indian|         Amit|                   35|         450|    O001|   Delivered|         UPI|    Spice Hub|           OnTime|
|Bangalore| Italian|         Neha|                   40|         650|    O002|   Delivered|        Card|   Pizza Town|           OnTime|
|    Delhi|American|        Rahul|                   30|         520|    O003|   Delivered|        Cash|  Burger Zone|           OnTime|
|  Chennai|  Indian|        Arjun|                   28|         380|    O005|   Delivered|         UPI|   Curry Leaf|           OnTime|
|Hyderabad| Italian|        Sneha|                   45|         700|    O006|   Delivered|        Card| Pasta Street|           OnTime|
|    Delhi| Mexican|        Karan|                   33|         540|    O007|   Delivered|         UPI|    Taco Bell|           OnTime|
|Bangalore| Chinese|         Riya|                   38|         600|    O008|   Delivered|      Wallet|  Dragon Bowl|           OnTime|
|   Mumbai|  Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|   BBQ Nation|             Late|
|  Chennai|American|       Anjali|                   32|         480|    O010|   Delivered|        Cash|  Burger Zone|           OnTime|
|    Delhi|  Indian|       Farhan|                   36|         520|    O011|   Delivered|         UPI|Biryani House|           OnTime|
|Bangalore|  Indian|       Suresh|                   29|         420|    O013|   Delivered|         UPI|   Curry Leaf|           OnTime|
|   Mumbai| Italian|        Divya|                   42|         780|    O014|   Delivered|      Wallet|   Pizza Town|           OnTime|
|    Delhi| Italian|       Nikhil|                   47|         690|    O015|   Delivered|         UPI| Pasta Street|             Late|
|  Chennai| Chinese|        Kavya|                   34|         560|    O016|   Delivered|         UPI|  Dragon Bowl|           OnTime|
|Hyderabad|  Indian|        Rohit|                   62|        1400|    O017|   Delivered|        Card|   BBQ Nation|             Late|
|Bangalore|American|       Simran|                   31|         510|    O018|   Delivered|        Cash|  Burger Zone|           OnTime|
|   Mumbai| Mexican|       Ayesha|                   35|         570|    O019|   Delivered|         UPI|    Taco Bell|           OnTime|
|    Delhi|  Indian|       Manish|                   27|         390|    O020|   Delivered|      Wallet|   Curry Leaf|           OnTime|
|Hyderabad| Italian|        Priya|                   41|         720|    O021|   Delivered|        Card|   Pizza Town|           OnTime|
|  Chennai|Japanese|         Yash|                   57|        1150|    O022|   Delivered|         UPI|    Sushi Bar|             Late|
+---------+--------+-------------+---------------------+------------+--------+------------+------------+-------------+-----------------+
only showing top 20 rows

8. Force JSON output to a single partition and observe number of files created

In [ ]:
df_single = df.coalesce(1)

output_path = "output/orders_json_single"
df_single.write.mode("overwrite").json(output_path)

9. Convert full dataset to Parquet.

In [ ]:
df.write.mode("overwrite").parquet("orders.parquet")

10. Read Parquet and filter:
cuisine = "Indian"
order_amount > 500

In [ ]:
df_parquet = spark.read.parquet("orders.parquet")
df_new1= df_parquet.filter((df_parquet.cuisine=="Indian")&(df_parquet.order_amount>500))
df_new1.show()

+---------+-------+-------------+---------------------+------------+--------+------------+------------+-------------+
|     city|cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|   restaurant|
+---------+-------+-------------+---------------------+------------+--------+------------+------------+-------------+
|   Mumbai| Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|   BBQ Nation|
|    Delhi| Indian|       Farhan|                   36|         520|    O011|   Delivered|         UPI|Biryani House|
|Hyderabad| Indian|        Rohit|                   62|        1400|    O017|   Delivered|        Card|   BBQ Nation|
|   Mumbai| Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|   BBQ Nation|
|    Delhi| Indian|        Zubin|                   63|        1480|    O035|   Delivered|        Card|   BBQ Nation|
+---------+-------+-------------+---------------------+------------+--------+------------+------------+-------------+

11.Sort Parquet data by order_amount descending and write top 10 orders back to Parquet.

In [ ]:
sorted_df = df_parquet.orderBy(col("order_amount").desc())
df_parquet.write.mode("overwrite").parquet("Top_10_orders.parquet")

12. Compare storage size of:
CSV
JSON
Parquet

**Why Parquet is smaller than CSV and JSON**

**CSV:** Plain text, no compression, stores all columns for every row → largest size.
**JSON:** Adds structural overhead (braces, quotes, keys for each record) → even larger than CSV for wide datasets.
**Parquet:** Columnar format + compression (Snappy/Gzip) + encoding → smallest size.


Typical Size Ratios (for the same dataset)

Example for a 100 MB dataset:

CSV: ~100 MB
JSON: ~150–200 MB
Parquet: ~30–50 MB

13. Convert:
CSV → Parquet
JSON → Parquet

In [ ]:
csv_df = spark.read.option("header", True).option("inferSchema", True).csv("orders.csv")
csv_df.write.mode("overwrite").parquet("orders_from_csv_parquet")


json_df = spark.read.json("delivered_orders_json")
json_df.write.mode("overwrite").parquet("orders_from_json_parquet")

14. Read Parquet and write it back as CSV using delimiter |

In [ ]:
df_parquet1 = spark.read.parquet("orders.parquet")

(
    df_parquet1
    .write
    .mode("overwrite")
    .option("header", True)
    .option("delimiter", "|")
    .csv("orders_csv")
)

15. Which cuisine generates the highest order_amount overall?

In [ ]:

from pyspark.sql.functions import col, sum, desc

df1 = spark.read.option("header", True).csv("orders.csv")


overall = (
    df1.groupBy("cuisine")
       .agg(sum("order_amount").alias("total_order_amount"))
       .orderBy(desc("total_order_amount"))
)

overall.show(1)

+-------+------------------+
|cuisine|total_order_amount|
+-------+------------------+
| Indian|            9370.0|
+-------+------------------+
only showing top 1 row

16. Which city has the highest number of orders?

In [ ]:

from pyspark.sql.functions import col, count, desc


highest_orders = (
    df1.groupBy("city")
       .agg(count("order_id").alias("total_orders"))
       .orderBy(desc("total_orders"))
)

highest_orders.show(1)

+-----+------------+
| city|total_orders|
+-----+------------+
|Delhi|           9|
+-----+------------+
only showing top 1 row

17. Which payment mode is most frequently used?

In [ ]:

from pyspark.sql.functions import col, count, desc


highest_orders1 = (
    df1.groupBy("payment_mode")
       .agg(count("order_id").alias("total_orders_per_paymentmethod"))
       .orderBy(desc("total_orders_per_paymentmethod"))
)

highest_orders1.show(1)

+------------+------------------------------+
|payment_mode|total_orders_per_paymentmethod|
+------------+------------------------------+
|         UPI|                            17|
+------------+------------------------------+
only showing top 1 row

**18. Why is Parquet the preferred format for analytics platforms like Databricks and BigQuery?**

Parquet is the preferred format for analytics platforms like Databricks and BigQuery because of several key advantages:

 1. Columnar Storage

Parquet stores data column-wise instead of row-wise.
This is ideal for analytical queries that often scan only a few columns (e.g., SELECT cuisine, SUM(order_amount)).
Reduces I/O because only the required columns are read.


 2. Efficient Compression

Columnar data compresses better than row-based formats because values in the same column are similar.
Parquet uses advanced compression algorithms (e.g., Snappy, Gzip) and encoding techniques like dictionary encoding.
This results in smaller storage footprint and faster reads.


 3. Schema Support

Parquet files store rich schema information (data types, column names, metadata).
This makes it easy for platforms like Databricks and BigQuery to infer structure without extra configuration.


 4. Predicate Pushdown

Parquet supports filtering at the storage level.
Example: If you query WHERE cuisine = 'Indian', only relevant row groups are read.
This drastically improves query performance.


 5. Compatibility & Integration

Parquet is an open standard supported by Spark, Hive, Presto, BigQuery, and many other tools.
Works seamlessly with distributed systems and cloud storage (S3, ADLS, GCS).


 6. Optimized for Big Data

Handles large-scale datasets efficiently.
Supports splittable files, enabling parallel processing across clusters.


7. Cost Efficiency

Smaller file sizes → lower storage costs.
Less data scanned → reduced query costs in platforms like BigQuery (which charges per TB scanned).

Challenge 1 :Repartition the dataset into 4 partitions and write to Parquet.

In [ ]:
df_repartitioned = df1.repartition(4)
df_repartitioned.write.mode("overwrite").parquet("repartitioned_orders.parquet")

Challenge 2- Create a report dataset containing:
city
total_orders
total_revenue
Write it to Parquet

In [ ]:
city_report = (
    df1.groupBy("city")
      .agg(
          count("*").alias("total_orders"),
          sum("order_amount").alias("total_revenue")
      )
      .orderBy("city")
)

(
    city_report
    .write
    .mode("overwrite")
    .parquet("city_report_parquet")
)